<template>
  <header>
    <section class="site-inner">
      <h1>Contacta</h1>
      <router-link to="/">Home</router-link>
      <span>|</span>
      <router-link to="/contacts">Contacts</router-link>
      <span>|</span>
      <router-link to="/profile">Profile</router-link>
    </section>
  </header>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
//@import "../../../assets/scss/colors";
header {
  background: $app-blue;
  display: flex;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {
    margin: 0 auto;
    color: $app-white;
  }
  a {
    color: $app-white;
  }
  span {
    padding-left: $pad-one;
    padding-right: $pad-one;
    color: $app-white;
  }
}
</style>
