<template>
  <footer class="app-footer">
    <section class="site-inner">Contacta &copy; 2019</section>
  </footer>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.app-footer {
  background: $app-grey;
  padding-top: $pad-two;
  padding-bottom: $pad-two;
}
</style>
