<template>
  <footer class="footer mt-auto py-3">
    <div class="container">Contacta &copy; 2019</div>
  </footer>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.footer {
  border-top: 1px solid #000;
  flex-shrink: none;
}
</style>
