<template>
  <b-navbar toggleable="md" type="dark" variant="primary">
    <div class="container">
      <b-navbar-brand href="#">Contacta</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <router-link tag="b-nav-item" to="/">Home</router-link>
          <router-link tag="b-nav-item" to="/palindrome">Palindrome test</router-link>
          <router-link tag="b-nav-item" to="/anagram">Anagram test</router-link>
          <router-link v-if="isLoggedIn" tag="b-nav-item" to="/contacts">Contacts</router-link>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <router-link tag="b-nav-item" v-show="!isLoggedIn" to="/register">Register</router-link>
          <router-link tag="b-nav-item" to="/login" v-if="!isLoggedIn">Sign in</router-link>
          <b-nav-item-dropdown v-if="isLoggedIn" right>
            <template slot="button-content">
              Welcome
              <em>{{userName}}</em>
            </template>
            <b-dropdown-item>
              <router-link tag="span" to="/profile">
                <Octicon :className="'text-muted'" :icon="person"/>&nbsp;Profile
              </router-link>
            </b-dropdown-item>
            <b-dropdown-item @click="logOut">
              <Octicon :className="'text-muted'" :icon="arrowLeft"/>&nbsp;Sign Out
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </div>
  </b-navbar>
</template>

<script>
import Octicon, { person, arrowLeft } from 'octicons-vue'
export default {
  data() {
    return {
      person,
      arrowLeft
    }
  },
  components: {
    Octicon
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters['authentication/isLoggedIn']
    },
    userName() {
      return this.$store.getters['user/user'].userName
    }
  },
  methods: {
    logIn() {
      this.$store.dispatch('authentication/login').then(() => {
        this.$router.push({ name: 'dashboard' })
      })
    },
    logOut() {
      this.$store.dispatch('authentication/logout').then(() => {
        this.$router.push({ name: 'login' })
      })
    }
  }
}
</script>

<style>
</style>
