<template functional>
  <div :class="{'loader-wrap d-flex align-items-center justify-content-center':props.loading}">
    <b-spinner
      style="width: 4rem; height: 4rem;"
      variant="primary"
      v-if="props.loading"
      label="Spinning"
    />
    <slot v-if="!props.loading"/>
  </div>
</template>

<script>
export default {
  name: "page",
  props: ['loading']
}
</script>

<style>
.loader-wrap {
  min-height: 300px;
  padding-top: 200px;
  padding-bottom: 200px;
}
</style>
