<template>
  <div class="container-fluid">
    <b-form-row>
      <b-col>
        <label>First name</label>
        <b-form-input :value="user.firstName" @input="setFirstName" placeholder="Enter your name"></b-form-input>
      </b-col>
      <b-col>
        <label>Last name</label>
        <b-form-input :value="user.lastName" @input="setLastName" placeholder="Enter your surname"></b-form-input>
      </b-col>
    </b-form-row>
    <b-form-row class="mt-2">
      <b-col>
        <label>Email Address</label>
        <b-form-input
          type="email"
          :value="user.email"
          @input="setEmail"
          placeholder="Enter your name"
        ></b-form-input>
      </b-col>
      <b-col>
        <label>Gender</label>
        <b-form-select @input="setGender" :value="user.gender" :options="genderOptions"></b-form-select>
      </b-col>
    </b-form-row>
    <b-form-row class="mt-2">
      <b-col>
        <label>Date of birth</label>
        <b-form-input
          type="email"
          :value="user.dateOfBirth"
          @input="setDateOfBirth"
          placeholder="Enter your name"
        ></b-form-input>
      </b-col>
      <b-col>
        <label>Country</label>
        <b-form-select :value="user.country" @change="setCountry" :options="countries"></b-form-select>
      </b-col>
    </b-form-row>
    <b-form-row class="mt-2">
      <b-col>
        <label>Interests</label>
        <b-form-textarea
          id="textarea"
          :value="user.interests"
          @input="setInterests"
          placeholder="Enter something..."
          rows="3"
          max-rows="6"
        ></b-form-textarea>
      </b-col>
    </b-form-row>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  data() {
    return {
      genderOptions: [
        { value: '', text: 'Please select' },
        { value: 'Male', text: 'Male' },
        { value: 'Female', text: 'Female' },
      ],
      loading: false
    }
  },
  computed: {
    user() {
      return this.$store.getters['user/user']
    },
    countries() {
      return this.$store.getters['countries/countries']
    }
  },
  methods: {
    ...mapMutations('user', [
      'setFirstName',
      'setLastName',
      'setGender',
      'setInterests',
      'setEmail',
      'setDateOfBirth',
      'setCountry'
    ]),
  }
}
</script>

<style>
</style>
