<template>
  <b-form-row>
    <b-col sm="12" class="px-4">
      <p v-if="contacts.length === 0">
        <b-alert variant="secondary" show>No contact numbers saved to your profile.</b-alert>
      </p>
      <b-list-group v-else>
        <b-list-group-item v-for="(contact,index) in contacts " :key="index">
          <user-contact-detail :item="{type:contact.type,number:contact.number, index: index}"/>
        </b-list-group-item>
      </b-list-group>
      <b-form-row class="mt-3 pr-1">
        <p>{{contacts.length}}/6</p>
        <b-button
          :disabled="contacts.length === 6"
          @click="addContact"
          class="ml-auto"
          type="submit"
          variant="primary"
          size="sm"
        >+ Add Contact</b-button>
      </b-form-row>
    </b-col>
  </b-form-row>
</template>

<script>
import UserContactDetail from '@/components/forms/UserContactDetail'
export default {
  components: {
    UserContactDetail
  },
  computed: {
    contacts() {
      return this.$store.getters['user/user'].contactNumbers
    }
  },
  methods: {
    addContact() {
      this.$store.commit('user/addContact')
    }
  }
}
</script>

<style>
</style>
