<template>
  <b-card class="app-margin-t-20">
    <h5 slot="header" class="mb-0 d-flex">Create an new contact</h5>
    <div class="app-form">
      <b-alert
        v-model="showSuccessMessage"
        variant="success"
        dismissible
      >Contact created succesfully</b-alert>
      <div class="app-row">
        <div class="app-col one-third">
          <label>First name</label>
          <b-form-input
            :value="contactForm.firstName"
            @input="setFirstName"
            placeholder="Enter first name"
          ></b-form-input>
          <div class="text-danger validation-error" v-if="!!errors.firstName">{{errors.firstName}}</div>
        </div>
        <div class="app-col one-third">
          <label>Last name</label>
          <b-form-input
            :value="contactForm.lastName"
            @input="setLastName"
            placeholder="Enter last name"
          ></b-form-input>
          <div class="text-danger validation-error" v-if="!!errors.lastName">{{errors.lastName}}</div>
        </div>
        <div class="app-col one-third">
          <label>Company</label>
          <b-form-input
            :value="contactForm.company"
            @input="setCompany"
            placeholder="Enter company"
          ></b-form-input>
        </div>
      </div>
      <div class="app-row app-padding-t-20">
        <div class="app-col one-half">
          <label>Landline</label>
          <b-form-input
            :value="contactForm.landline"
            @input="setLandline"
            placeholder="Enter landline number"
          ></b-form-input>
        </div>
        <div class="app-col one-half">
          <label>Mobile</label>
          <b-form-input
            :value="contactForm.mobile"
            @input="setMobile"
            placeholder="Enter mobile number"
          ></b-form-input>
        </div>
      </div>
      <div class="app-row app-padding-t-20">
        <div class="app-col one-half">
          <label>Email address</label>
          <b-form-input
            :value="contactForm.email"
            @input="setEmail"
            placeholder="Enter email address"
          ></b-form-input>
          <div class="text-danger validation-error" v-if="!!errors.email">{{errors.email}}</div>
        </div>
        <div class="app-col one-half">
          <label>Notes</label>
          <b-form-textarea
            id="textarea"
            :value="contactForm.notes"
            @input="setNotes"
            placeholder="Enter something..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </div>
      </div>
      <div class="app-row app-text-right">
        <div class="app-col full-width">
          <hr class="app-margin-t-20">
          <button class="app-button app-button-blue" @click="validateForm">Create</button>
        </div>
      </div>
    </div>
  </b-card>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data() {
    return {
      showSuccessMessage: false
    }
  },
  computed: {
    contactForm() {
      return this.$store.getters['contact/form']
    },
    errors() {
      return this.$store.getters['contact/errors']
    }
  },
  methods: {
    ...mapMutations('contact', [
      'setFirstName',
      'setLastName',
      'setEmail',
      'setMobile',
      'setLandline',
      'setNotes',
      'setCompany'
    ]),
    validateForm() {
      this.$store.commit('contact/clearErrors')
      this.$store.dispatch('contact/validate').then(result => {
        let errors = result;
        if (errors.length) {
          return
        }
        this.submitForm()
      })
    },
    submitForm() {
      this.$store.dispatch('contact/create').then((result) => {
        this.showSuccessMessage = true
        this.$store.commit('contact/createContact', result.data)
        this.$store.commit('contact/clearForm')
      })
    }
  },
  created() {
    this.$store.commit('contact/clearErrors')
    this.$store.commit('contact/clearForm')
  }
}
</script>

<style>
</style>
