<template >
  <b-button :type="type" :variant="variant" :size="size" :disabled="loading" :class="className">
    <span v-if="!loading">
      <slot/>
    </span>
    <b-spinner small v-if="loading" label="Spinning"></b-spinner>
  </b-button>
</template>

<script>
export default {
  props: ['loading', 'type', 'variant', 'className', 'size']
}
</script>

<style>
</style>
