<template>
  <b-form class="login-form" @submit="onSubmit" :novalidate="true">
    <b-form-group id="input-group-1">
      <b-form-input
        id="input-1"
        v-model="form.emailOrUsername"
        type="text"
        required
        placeholder="Email or username"
      ></b-form-input>
      <b-form-input
        id="input-2"
        v-model="form.password"
        type="password"
        required
        placeholder="Password"
      ></b-form-input>
    </b-form-group>
    <b-form-invalid-feedback class="mb-4" :state="hasErrorMessage">{{form.errorMessage}}</b-form-invalid-feedback>
    <b-button type="submit" variant="primary" :disabled="loading">
      <span v-if="!loading">Sign In</span>
      <b-spinner small v-if="loading" label="Spinning"></b-spinner>
    </b-button>
  </b-form>
</template>

<script>
export default {
  data() {
    return {
      form: {
        emailOrUsername: '',
        password: '',
        hasErrorMessage: false,
        errorMessage: null
      },
      loading: false
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.loading = true;
      this.form.errorMessage = null
      this.form.hasErrorMessage = false
      if (this.form.emailOrUsername.length < 1 || this.form.password.length < 1) {
        this.form.errorMessage = 'Please enter your username or email and password'
        this.form.hasErrorMessage = true
        this.loading = false;
        return
      }
      this.$store.dispatch('authentication/login', { "email": this.form.emailOrUsername, "password": this.form.password }).then((result) => {
        let { user } = result.data
        this.$store.commit('user/setUser', user)
        this.loading = false;
        this.$router.push({ name: 'profile' })
      }).catch(e => {
        this.loading = false;
        this.form.hasErrorMessage = true
        this.form.errorMessage = e.response.data
      })
    },
  },
  computed: {
    hasErrorMessage() {
      return !this.form.hasErrorMessage
    }
  }
}
</script>

<style lang="scss">
.login-form {
  text-align: center;
  input[type="text"] {
    margin-bottom: -3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  button {
    width: 100%;
  }
}
</style>
