<template>
  <b-form class="register-form text-left" @submit="onSubmit" :novalidate="true">
    <b-form-row>
      <b-col>
        <b-alert
          v-model="duplicateError"
          variant="danger"
          dismissible
        >Sorry that username or email address is already registered</b-alert>
      </b-col>
    </b-form-row>
    <b-form-row>
      <b-col>
        <label>First name *</label>
        <b-form-input :value="form.firstName" @input="setFirstName" placeholder="Enter your name"></b-form-input>
        <b-form-invalid-feedback v-if="errors.firstName" :state="false">Please enter your first name</b-form-invalid-feedback>
      </b-col>
      <b-col>
        <label>Last name *</label>
        <b-form-input :value="form.lastName" @input="setLastName" placeholder="Enter your surname"></b-form-input>
        <b-form-invalid-feedback v-if="errors.lastName" :state="false">Please enter your last name</b-form-invalid-feedback>
      </b-col>
    </b-form-row>
    <b-form-row class="mt-3">
      <b-col>
        <label>Email *</label>
        <b-form-input :value="form.email" @input="setEmail" placeholder="Enter your email"></b-form-input>
        <b-form-invalid-feedback
          v-if="errors.email"
          :state="false"
        >Please enter a valid email address</b-form-invalid-feedback>
      </b-col>
      <b-col>
        <label>Password *</label>
        <b-form-input :value="form.password" @input="setPassword" placeholder="Enter your password"></b-form-input>
        <b-form-invalid-feedback v-if="errors.password" :state="false">Please enter a password</b-form-invalid-feedback>
      </b-col>
    </b-form-row>
    <b-form-row class="mt-3">
      <b-col>
        <label>Username *</label>
        <b-form-input :value="form.userName" @input="setUserName" placeholder="Enter your username"></b-form-input>
        <b-form-invalid-feedback v-if="errors.userName" :state="false">Please enter a username</b-form-invalid-feedback>
      </b-col>
      <b-col>
        <label>Date of birth *</label>
        <b-form-input :value="form.dateOfBirth" @input="setDateOfBirth" placeholder="DD/MM/YYYY"></b-form-input>
        <b-form-invalid-feedback
          v-if="errors.dateOfBirth"
          :state="false"
        >Please enter your date of birth</b-form-invalid-feedback>
      </b-col>
    </b-form-row>
    <b-form-row class="mt-4 text-center">
      <b-button class="ml-auto mr-auto" type="submit" variant="primary" :disabled="loading">
        <span v-if="!loading">Sign Up</span>
        <b-spinner small v-if="loading" label="Spinning"></b-spinner>
      </b-button>
    </b-form-row>
    <p>* Required fields</p>
  </b-form>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data() {
    return {
      loading: false,
      duplicateError: false,
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.loading = true;
      this.$store.dispatch('registration/register').then((result) => {
        this.loading = false
        this.$store.commit('registration/clearErrors')
        this.$store.commit('registration/clearForm')
        this.$store.commit('authentication/setToken', result.data.token)
        this.$store.commit('user/setUser', result.data.user)
        this.$router.push({ name: 'profile' })
      }).catch((err) => {
        if (err.response.data.errors) {
          this.$store.commit('registration/setErrors', err.response.data.errors)
        } else if (err.response.data.code === 11000) {
          this.duplicateError = true
        }
        this.loading = false
      })
    },
    ...mapMutations('registration', [
      'setFirstName',
      'setLastName',
      'setDateOfBirth',
      'setUserName',
      'setPassword',
      'setEmail'
    ])
  },
  computed: {
    hasErrorMessage() {
      return !this.form.hasErrorMessage
    },
    form() {
      return this.$store.getters['registration/form']
    },
    errors() {
      return this.$store.getters['registration/errors']
    }
  },
  created() {
    this.$store.commit('registration/clearForm')
  }
}
</script>

<style lang="scss">
.register-form {
  button {
    width: 200px;
  }
}
</style>
