<template>
  <div>
    <b-form-row>
      <span class="text-primary ml-auto text-small" @click="removeContact">- Remove</span>
    </b-form-row>
    <b-form-row>
      <b-col sm="4">
        <label>Type</label>
        <b-form-select @input="setUserContactType" :value="item.type" :options="contactTypes"></b-form-select>
      </b-col>
      <b-col>
        <label>Contact Number</label>
        <b-form-input
          type="text"
          :value="item.number"
          @input="setUserContactNumber"
          placeholder="Enter a phone number"
        ></b-form-input>
      </b-col>
    </b-form-row>
  </div>
</template>

<script>
// import { mapMutations } from 'vuex'
export default {
  props: ['item'],
  data() {
    return {
      contactTypes: [
        { text: 'Mobile', value: 'Mobile' },
        { text: 'Landline', value: 'Landline' }
      ]
    }
  },
  methods: {
    setUserContactType(event) {
      this.$store.commit('user/updateContactType', { index: this.item.index, value: event })
    },
    setUserContactNumber(event) {
      this.$store.commit('user/updateContactNumber', { index: this.item.index, value: event })
    },
    removeContact() {
      this.$store.commit('user/removeContactNumber', { index: this.item.index })
    }
  }
}
</script>

<style>
</style>
