<template>
  <b-card class="app-margin-t-20">
    <h5 slot="header" class="mb-0 d-flex">
      Contact details
      <loader-button
        v-if="!isEditing"
        :loading="false"
        @click.native="isEditing = true"
        :className="'ml-auto d-inline-flex'"
        variant="primary"
        :size="'sm'"
      >Edit</loader-button>
      <loader-button
        v-if="isEditing"
        :loading="saving"
        @click.native="saveContact"
        :className="'ml-auto d-inline-flex'"
        variant="primary"
        :size="'sm'"
      >Save</loader-button>
    </h5>
    <div class="app-row">
      <div class="app-col one-third">
        <label>First name</label>
        <p v-if="!isEditing" class="text-primary">{{contact.firstName ? contact.firstName : '--' }}</p>
        <b-form-input
          @input="setFirstName"
          v-if="isEditing"
          :value="contact.firstName"
          placeholder="Enter your name"
        ></b-form-input>
      </div>
      <div class="app-col one-third">
        <label>Last name</label>
        <p v-if="!isEditing" class="text-primary">{{contact.lastName ? contact.lastName : '--' }}</p>
        <b-form-input
          @input="setLastName"
          v-if="isEditing"
          :value="contact.lastName"
          placeholder="Enter your last name"
        ></b-form-input>
      </div>
      <div class="app-col one-third">
        <label>Company</label>
        <p v-if="!isEditing" class="text-primary">{{contact.company ? contact.company : '--' }}</p>
        <b-form-input
          @input="setCompany"
          v-if="isEditing"
          :value="contact.company"
          placeholder="Enter your last name"
        ></b-form-input>
      </div>
    </div>
    <div class="app-row mt-2">
      <div class="app-col one-half">
        <label>Landline</label>
        <p v-if="!isEditing" class="text-primary">{{contact.landline ? contact.landline : '--' }}</p>
        <b-form-input
          @input="setLandline"
          v-if="isEditing"
          :value="contact.landline"
          placeholder="Enter your your landline"
        ></b-form-input>
      </div>
      <div class="app-col one-half">
        <label>Mobile</label>
        <p v-if="!isEditing" class="text-primary">{{contact.mobile ? contact.mobile : '--' }}</p>
        <b-form-input
          @input="setMobile"
          v-if="isEditing"
          :value="contact.mobile"
          placeholder="Enter your your mobile"
        ></b-form-input>
      </div>
    </div>
    <div class="app-row mt-2">
      <div class="app-col one-half">
        <label>Email</label>
        <p v-if="!isEditing" class="text-primary">{{contact.email ? contact.email : '--' }}</p>
        <b-form-input
          v-if="isEditing"
          @input="setEmail"
          :value="contact.email"
          placeholder="Enter your your landline"
        ></b-form-input>
      </div>
      <div class="app-col one-half">
        <label>Notes</label>
        <p v-if="!isEditing" class="text-primary">{{contact.notes ? contact.notes : '--' }}</p>
        <b-form-input
          @input="setNotes"
          v-if="isEditing"
          :value="contact.notes"
          placeholder="Enter some notes"
        ></b-form-input>
      </div>
    </div>
  </b-card>
</template>

<script>
import LoaderButton from '@/components/forms/LoaderButton'
import { mapMutations } from 'vuex'
export default {
  data() {
    return {
      isEditing: false,
      saving: false,
      serverError: false
    }
  },
  components: {
    LoaderButton
  },
  computed: {
    contact() {
      return this.$store.getters['contact/form']
    }
  },
  methods: {
    saveContact() {
      this.saving = true
      this.$store.dispatch('contact/save', this.$route.params.id).then(() => {
        this.saving = false
      }).catch(() => {
        this.serverError = true
      })
    },
    ...mapMutations('contact', [
      'setFirstName',
      'setLastName',
      'setEmail',
      'setMobile',
      'setLandline',
      'setNotes',
      'setCompany'
    ])
  }
}
</script>

<style>
</style>
