<template>
  <div>
    <div class="page-content">
      <app-header/>
      <slot/>
    </div>
    <app-footer/>
  </div>
</template>

<script>
import '@/plugins/bootstrap'
import AppHeader from '@/components/app/Header'
import AppFooter from '@/components/app/Footer'
export default {
  name: 'app',
  components: {
    AppHeader,
    AppFooter
  }
}
</script>

<style lang="scss">
//Structure
.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .app-content {
    flex: 1;
  }
  footer {
    display: flex;
    margin-top: auto;
  }
}
.site-inner {
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
}
hr {
  display: block;
  clear: both;
}

//Forms
.app-button {
  display: inline-block;
  font-weight: 400;
  color: $app-white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  &.app-button-blue {
    background: $app-blue;
  }
  &.app-button-grey {
    background: $app-dark-grey;
  }
}
.app-input {
  display: inline-block;
  font-weight: 400;
  border: 1px solid $app-dark-grey;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
//Grid
.app-row {
  display: block;
  width: 100%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.app-col {
  display: block;
  width: 100%;
}
//Form
.validation-error {
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
  color: #dc3545;
}
@media (min-width: 768px) {
  .app-row {
    display: block;
    width: 100%;
    clear: both;
  }
  .app-col {
    display: block;
    float: left;
    padding-left: $pad-one;
    padding-right: $pad-one;
    &.one-quarter {
      width: 25%;
    }
    &.one-half {
      width: 50%;
    }
    &.three-quarters {
      width: 75%;
    }
    &.one-third {
      width: 33.3333333%;
    }
    &.two-thirds {
      width: 66.6666666%;
    }
    &.full-width {
      width: 100%;
    }
  }
}
//Text utils
.app-text-right {
  text-align: right;
}
//Margin utils
.app-margin-r-20 {
  margin-right: $margin-two;
}
.app-margin-t-20 {
  margin-top: $margin-two;
}
//Padding utils
.app-padding-t-20 {
  padding-top: $pad-two;
}
</style>
