<template>
  <div>
    <div class="page-content">
      <app-header/>
      <slot/>
    </div>
    <app-footer/>
  </div>
</template>

<script>
import '@/plugins/bootstrap'
import AppHeader from '@/components/app/Header'
import AppFooter from '@/components/app/Footer'
export default {
  name: 'app',
  components: {
    AppHeader,
    AppFooter
  }
}
</script>

<style>
</style>
