<template>
  <div class="profile-icon">
    <Octicon :className="'text-muted'" :icon="person"/>
  </div>
</template>

<script>
import Octicon, { person } from 'octicons-vue'
export default {
  data() {
    return {
      person
    }
  },
  components: {
    Octicon
  },
}
</script>

<style lang="scss">
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
.profile-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  border: 3px solid $primary;
  align-items: center;
  justify-content: center;
  .octicon {
    width: 30px;
    height: auto;
    fill: $primary;
  }
}
</style>
