<template>
  <li>
    {{itemData.firstName}}
    <b-button variant="primary" @click="gotoContact" class="ml-auto">View</b-button>
  </li>
</template>

<script>
export default {
  methods: {
    gotoContact() {
      this.$router.push({
        name: "view-contact",
        params: {
          id: this.itemData._id
        }
      })
    }
  },
  props: ['itemData']
}
</script>

<style lang="scss">
.alpha-items {
  font-size: 20px;
  li {
    padding-top: $pad-one;
    padding-bottom: $pad-one;
    padding-left: $pad-one;
    padding-right: $pad-one;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $app-grey;
    background: $app-white;
    transition: background 1s ease;
    &:hover {
      background: $app-grey;
      cursor: pointer;
    }
  }
}
</style>
