<template>
  <section class="contact-list">
    <div class="search-widget">
      <div class="app-row">
        <div class="app-col one-quarter">
          <label>Search by name</label>
        </div>
        <div class="app-col one-half">
          <input v-model="searchQuery" class="app-input" type="text">
        </div>
        <div class="app-col one-quarter app-text-right">
          <router-link
            tag="button"
            to="/contacts/create"
            class="app-button app-button-blue"
          >Create contact</router-link>
        </div>
      </div>
    </div>
    <p v-if="list.length === 0" class="mt-3">
      <b-alert variant="secondary" show>No contact numbers saved to your profile.</b-alert>
    </p>
    <ul>
      <contact-list-group
        v-for="(group, index) in groupedAlphabetically"
        :key="`${index}_${group}`"
        :item="group"
      />
    </ul>
  </section>
</template>

<script>
import ContactListGroup from '@/components/contactList/ContactListGroup'
export default {
  data() {
    return {
      searchQuery: '',
    }
  },
  components: {
    ContactListGroup
  },
  computed: {
    list() {
      return this.$store.getters['contact/contacts']
    },
    filteredList() {
      if (this.searchQuery) {
        return this.list.filter((item) => {
          let searchToMatch = `${item.firstName} ${item.lastName}`
          return searchToMatch.toLowerCase().startsWith(this.searchQuery.toLowerCase());
        })
      } else {
        return this.list;
      }
    },
    groupedAlphabetically() {
      let groupedCollection = {}
      let sortedAndGroupedCollection = [];
      let list = this.filteredList
      //Group list into letters of the alphabet  
      list.forEach((item) => {
        var firstLetter = item.firstName.charAt(0);
        if (groupedCollection[firstLetter] == undefined) {
          groupedCollection[firstLetter] = [];
        }
        groupedCollection[firstLetter].push(item);
      })
      //Sort groups alphabetically  
      Object.keys(groupedCollection).sort().forEach(item => {
        sortedAndGroupedCollection.push({
          group: item,
          items: groupedCollection[item].sort(function (a, b) {
            //Sort grouped lists alphabetically
            var textA = a.firstName.toUpperCase();
            var textB = b.firstName.toUpperCase();
            return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
          })
        })
      })

      return sortedAndGroupedCollection
    }
  }
}
</script>

<style lang="scss">
.contact-list {
  margin-top: $margin-four;
  margin-bottom: $margin-four;
  display: block;
  .search-widget {
    display: flex;
    align-items: center;
    label {
      font-size: 25px;
    }
    input {
      width: 100%;
      margin-top: 5px;
    }
    .app-button {
      margin-top: 25px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .alpha-group {
    font-size: 30px;
    margin-top: $margin-two;
    font-weight: bold;
    display: block;
    width: 100%;
    span {
      width: 100%;
      display: block;
      border-bottom: 2px solid black;
    }
  }
}
@media (min-width: 768px) {
  .contact-list {
    .search-widget {
      .app-button {
        margin-top: 5px;
      }
    }
  }
}
</style>
