<template>
  <li class="alpha-group">
    <span>{{item.group}}</span>
    <ul class="alpha-items">
      <contact-list-group-item
        v-for="(listItem, index) in item.items"
        :key="`item_${item.group}_${index}`"
        :item-data="listItem"
      />
    </ul>
  </li>
</template>

<script>
import ContactListGroupItem from '@/components/contactList/ContactListGroupItem'
export default {
  props: [
    "item"
  ],
  components: {
    ContactListGroupItem
  }
}
</script>

<style>
</style>
