<template>
  <component :is="layout">
    <router-view :layout.sync="layout"></router-view>
  </component>
</template>

<script>

export default {
  name: 'app',
  data() {
    return {
      layout: 'div',
    };
  },
}
</script>

<style lang="scss">
html,
body {
  font-family: "Ubuntu", sans-serif !important;
}
html,
body {
  height: 100%;
}
.page-content {
  flex: 1 0 auto;
}
</style>
