<template>
  <div class="container py-4">
    <b-card>
      <h5 slot="header" class="mb-0">Anagram Test</h5>
      <b-form-row>
        <b-col sm="6">
          <label>String One</label>
          <b-form-input v-model="stringOne" type="text" required placeholder="Enter a string"></b-form-input>
        </b-col>
        <b-col sm="6">
          <label>String Two</label>
          <b-form-input v-model="stringTwo" type="text" required placeholder="Enter a string"></b-form-input>
        </b-col>
      </b-form-row>
      <b-form-row>
        <b-col sm="6" class="pt-4">{{isAnagram ? 'Yip it is!' : 'Nope it\'s not!'}}</b-col>
      </b-form-row>
    </b-card>
  </div>
</template>

<script>
import LayoutDefault from '@/components/layouts/LayoutDefault'
export default {
  data() {
    return {
      stringOne: 'Care',
      stringTwo: 'Race'
    }
  },
  methods: {
    alphabetize(string) {
      if (!string) {
        return;
      }
      //Convert to lowercase. 
      //Split string into an array of caracters. 
      //Sort the caracters. 
      //Join the array back into a string
      return string.toLowerCase().split('').sort().join();
    }
  },
  computed: {
    isAnagram() {
      //Compare both strings after they have normalized and alphabetized  
      return this.alphabetize(this.stringOne) === this.alphabetize(this.stringTwo)
    }
  },
  created() {
    this.$emit('update:layout', LayoutDefault);
  }
}
</script>

<style>
</style>
