<template>
  <page :loading="loading">
    <div class="container py-4">
      <b-card class="mt-4 mb-4">
        <contact-list/>
      </b-card>
    </div>
  </page>
</template>

<script>
import LayoutContact from '@/components/layouts/LayoutContact'
import ContactList from '@/components/contactList/ContactList'
export default {
  data() {
    return {
      loading: true
    }
  },
  components: {
    ContactList
  },
  created() {
    this.$store.dispatch('contact/loadContacts').then(() => {
      this.loading = false
    })
    this.$emit('update:layout', LayoutContact);
  }
}
</script>

<style>
</style>
