<template>
  <div class="container py-4">
    <create-contact-form class="mb-4"/>
  </div>
</template>

<script>
import LayoutContact from '@/components/layouts/LayoutContact'
import CreateContactForm from '@/components/forms/CreateContactForm'
export default {
  components: {
    CreateContactForm
  },
  created() {
    this.$emit('update:layout', LayoutContact);
  },

}
</script>

<style>
</style>
