<template>
  <div class="container py-4">
    <b-jumbotron header="Oops!" lead="We cant find what you are looking for">
      <router-link class="btn btn-primary" to="/">Home</router-link>&nbsp;
    </b-jumbotron>
  </div>
</template>

<script>
import LayoutDefault from '@/components/layouts/LayoutDefault'
export default {
  name: "Error",
  created() {
    this.$emit('update:layout', LayoutDefault);
  }
}
</script>

<style>
</style>
