<template>
  <div class="container py-4 page-content">
    <b-jumbotron header="Welcome to Contacta" lead="Manage your contacts online!">
      <p>Sign in if you have an account or register to get started</p>
      <router-link class="btn btn-primary" to="/login">Sign In</router-link>&nbsp;
      <router-link class="btn btn-secondary" to="/register">Register</router-link>
    </b-jumbotron>
  </div>
</template>

<script>
import LayoutDefault from '@/components/layouts/LayoutDefault'
export default {
  name: "Home",
  created() {
    this.$emit('update:layout', LayoutDefault);
  }
}
</script>

<style>
</style>
