<template>
  <div class="d-flex login py-4">
    <div class="login-form-wrapper text-center">
      <b-card>
        <h5 slot="header" class="mb-0">Sign in</h5>
        <profile-icon class="d-inline-flex mb-3"/>
        <login-form/>
      </b-card>
    </div>
  </div>
</template>

<script>
import LayoutDefault from '@/components/layouts/LayoutDefault'
import LoginForm from '@/components/forms/LoginForm';
import ProfileIcon from '@/components/profile/ProfileIcon'
export default {
  components: {
    LoginForm,
    ProfileIcon
  },
  created() {
    this.$emit('update:layout', LayoutDefault);
  }
}
</script>

<style lang="scss">
.login {
  align-items: center;
  justify-content: center;
}
.login-form-wrapper {
  max-width: 300px;
  width: 90%;
  text-align: center;
}
</style>
