<template>
  <div class="container py-4">
    <b-card>
      <h5 slot="header" class="mb-0">Palindrome Test</h5>
      <b-form-row>
        <b-col sm="6">
          <label>Is palindrome?</label>
          <b-form-input
            id="input-1"
            v-model="stringOne"
            type="text"
            required
            placeholder="Enter a string"
          ></b-form-input>
        </b-col>
        <b-col sm="6" class="pt-4">
          <label class="pt-3">{{isPalindrome ? 'Yip it is': 'Nope, it\'s not'}}</label>
        </b-col>
      </b-form-row>
    </b-card>
  </div>
</template>

<script>
import LayoutDefault from '@/components/layouts/LayoutDefault'
export default {
  data() {
    return {
      stringOne: 'Race Car'
    }
  },
  computed: {
    isPalindrome() {
      //Sanitize string. Remove all non word caracters. Convert to lowercase
      let string = this.stringOne.replace(/[^\w]/gi, "").toLowerCase();
      //Compare strings by creating a copy and reversing it. (Split it into an array, reverse the array and join back into a string)
      return string === string.split('').reverse().join('')
    }
  },
  created() {
    this.$emit('update:layout', LayoutDefault);
  }
}
</script>

<style>
</style>
