<template>
  <page :loading="loading">
    <b-container class="py-4">
      <b-row>
        <b-col sm="3" class="text-center mb-3">
          <b-card>
            <h5 slot="header" class="mb-0">Profile</h5>
            <profile-icon class="d-inline-flex"/>
            <hr>
            <h5 class="text-primary">
              <span>{{user.firstName}} {{user.lastName}}</span>
            </h5>
            <h6>
              <em class="text-dark">{{user.userName}}</em>
            </h6>
            <small>{{user.email}}</small>
          </b-card>
        </b-col>
        <b-col>
          <b-card>
            <h5 slot="header" class="mb-0 d-flex">
              Basic Info
              <loader-button
                :loading="saving"
                @click.native="saveProfile"
                :className="'ml-auto d-inline-flex'"
                variant="primary"
                :size="'sm'"
              >Save</loader-button>
            </h5>
            <basic-info-form/>
          </b-card>
          <b-card class="mt-3">
            <h5 slot="header" class="mb-0 d-flex">
              Contact Details
              <loader-button
                :loading="saving"
                @click.native="saveProfile"
                :className="'ml-auto d-inline-flex'"
                variant="primary"
                :size="'sm'"
              >Save</loader-button>
            </h5>
            <contact-info-form/>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </page>
</template>

<script>
import LayoutDefault from '@/components/layouts/LayoutDefault'
import LoaderButton from '@/components/forms/LoaderButton'
import BasicInfoForm from '@/components/forms/BasicInfoForm'
import ContactInfoForm from '@/components/forms/ContactInfoForm'
import ProfileIcon from '@/components/profile/ProfileIcon'
export default {
  data() {
    return {
      loading: true,
      saving: false
    }
  },
  components: {
    ProfileIcon,
    BasicInfoForm,
    ContactInfoForm,
    LoaderButton
  },
  methods: {
    saveProfile() {
      this.saving = true
      this.$store.dispatch('user/save').then(() => {
        this.$bvToast.show('example-toast')
        this.saving = false
      }).catch(() => {
        this.saving = false
      })
    }
  },
  computed: {
    user() {
      return this.$store.getters['user/user']
    }
  },
  created() {
    this.$emit('update:layout', LayoutDefault);
    this.$store.dispatch('countries/loadCountries').then(() => {
      this.loading = false;
    })
  }

}
</script>

<style>
</style>
