<template>
  <div class="register d-flex py-4">
    <div class="register-form-wrapper text-center">
      <b-card>
        <h5 slot="header" class="mb-0">Register</h5>
        <register-form/>
      </b-card>
    </div>
  </div>
</template>

<script>
import LayoutDefault from '@/components/layouts/LayoutDefault'
import RegisterForm from '@/components/forms/RegisterForm'
export default {
  components: {
    RegisterForm
  },
  created() {
    this.$emit('update:layout', LayoutDefault);
  }

}
</script>

<style lang="scss">
.register {
  justify-content: center;
}
.register-form-wrapper {
  max-width: 600px;
  width: 90%;
  text-align: center;
}
</style>
