<template>
  <page :loading="loading">
    <div class="app-content contact-create">
      <section class="site-inner">
        <view-and-edit-contact-form/>
      </section>
    </div>
  </page>
</template>

<script>
import LayoutContact from '@/components/layouts/LayoutContact'
import ViewAndEditContactForm from '@/components/forms/ViewAndEditContactForm'
export default {
  data() {
    return {
      loading: true
    }
  },
  components: {
    ViewAndEditContactForm
  },
  created() {
    this.$store.commit('contact/clearForm')
    this.$store.dispatch('contact/loadContact', this.$route.params.id).then(() => {
      this.loading = false
    })
    this.$emit('update:layout', LayoutContact);
  },
}
</script>

<style>
</style>
