$app-blue: #007bff;
$app-white: #fff;
$app-grey: #e9ecef;
$app-dark-grey: #6c757d;
$app-red: #dc3545;
$pad-one: 10px;
$pad-two: 20px;
$pad-three: 20px;
$pad-four: 20px;
$margin-one: 10px;
$margin-two: 20px;
$margin-three: 20px;
$margin-four: 20px;
